<manifest package="com.nd.sdp.ele.rn.recommend"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".view.TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RecommendActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
